 html,body{
  background: #8B5F49 url(613.jpg) no-repeat top;
    background-size: cover;
 }
 header{
  margin-bottom: 9%;
 }
 .navbar-default{
  background: -moz-linear-gradient(top, rgba(242,203,113,0.69) 19%, rgba(234,203,109,0.69) 49%, rgba(226,204,104,0.24) 82%, rgba(218,224,229,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,203,113,0.69) 19%,rgba(234,203,109,0.69) 49%,rgba(226,204,104,0.24) 82%,rgba(218,224,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,203,113,0.69) 19%,rgba(234,203,109,0.69) 49%,rgba(226,204,104,0.24) 82%,rgba(218,224,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0f2cb71', endColorstr='#00dae0e5',GradientType=0 ); /* IE6-9 */
  border:none;
 }
 .navbar-default .navbar-nav > li > a {
  color: #73152D;
  font-size: 200%;
}
 .container-fluid{
  padding:0 5%;
 }
 h1{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 12vw;
  color:#73152D;
 }
 @media all and (min-width: 768px){
   h1{
    font-size: 6vw;
   }
}
header h1{
  text-align: center;
}
 h2{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 7vw;
  line-height: 1.25;
  color:#73152D;
 }
 @media all and (min-width: 768px){
   h2{
    font-size: 2.5vw;
   }
}
 .rating{
  color:#73152D;
 }
 a{
  color:#1A1830;
 }
 input{
  color:#333;
 }
 .product_single{
  background: #665441;
  background:rgba(149,105,73,0.7);
  padding:0 15px 15px 15px;
  color:#FFF;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 580px;
  border-radius: 15px;
  border: solid #575767 4px;
  margin-bottom: 15px;
 }
 .product_single_image{
  margin-bottom: 20px;
 }
 .btn{
  margin-top:20px;
 }

 .product_header{
  height: 50px;
 }

 .sale-item {
    color: red;
 }

 textarea, select {
  color: black;
 }